
{% load flower_tags%}
{% comment %} <flower-time-line  id="timeLineData" >    
    {% for track in  timeline_data %}   
       {% if track.itemType == "SER" %}
       {% event_track track %}
       {% elif track.itemType == "EVE" %}
         {% EVE_track track  %}         
       {% elif track.itemType == "TSE" %}
          {% TSE_track track %}
       {% endif %}
    {% endfor%}

</flower-time-line>  {% endcomment %}
 







 <flower-time-line target="timeline_component" id="timeLineData">

    <flower-track type="eventline" heading="Current Affairs" id="5">
      <track-item start="1950-01-01" end="2040-01-01" id="559223x">
        <event-item id="ca_3393_2" name="Suez Crisis" detail1="firstdetail1" detail2="" date="1990-07-01"></event-item>
        <event-item id="ca_3393_3" name="VCong invade saigon" detail1="det1" detail2="" date="1950-01-01"></event-item>
        <event-item id="ca_3393_4" name="Earthquake in Brazil" detail1="firstdetail4" detail2=""
          date="2011-01-01"></event-item>
        <event-item id="ca_3393_5" name="PM resigns" detail1="firstdetail5" detail2="" date="2010-01-01"></event-item>
        <event-item id="ca_3393_6" name="Inflation Peaks" detail1="firstdetail5" detail2=""
          date="2015-01-01"></event-item>
       </track-item>
    </flower-track>


<flower-track type="eventline" heading="WarInUkrane" id="5">

      <track-item start="2024-07-01" end="2024-09-02" id="5xddhh">

               <event-item id="3d3" name="Russian shelling of Nikopol" detail1="Two people killed" detail2="" date="2024-08-01"></event-item>       


               <event-item id="394" name="Missile attacks across Crimean Peninsula" detail1="" detail2="" date="2024-08-02"></event-item>


       </track-item>
    </flower-track>    



  </flower-time-line>
