

body {
  height: 95vh;
  display: flex;
  background: black;
  flex-direction: column;
  padding: 0;
  margin: 0px;
  font-size: small;
  font-family: sans-serif;
  overflow: hidden;
}

.flowerTrackItemsContainer {
  display: inline-flex
}

.eventlinePlotItemHeading {
  border-style:solid;
  border-width: 1px;
  border-color: black;
  background:linear-gradient(to bottom, beige, white,beige);;
}

.trackItemHeading {
  writing-mode: vertical-lr;
  text-align: left;
  background-color: black;
  color: white;


}

.timeSeriesHeader {
  display: flex;
  background-color: blue;
}

.timeSeriesHeaderDescription {
  flex-grow: 100;
  color: black;
}

.timeSeriesAxisGutter {
  width: '30px';
  color:black;
}

.timeSeriesTrackItemLayout {
  display: flex;
  overflow: hidden;
 

}

.sequenceTrackItemLayout {
  display: flex;
  overflow: hidden;
  
  background: beige;
  

}

.timeSeriesItemSvg {
  

}

.flowerTimelineContainer {
 

}

.flowerTrackHeadingContainer {
  background:linear-gradient(to bottom, beige, bisque,beige);;
  left: -600px;
  
  width: 100%;
  height: 100%;


 
  
}

.rowStripe {  
  background: linear-gradient(to bottom, bisque, beige,bisque);

}

.flowerGridMain {
  border: 3px solid darkgrey;
  flex-grow: 100;  
  display: flex;
}

.flowerAxis {
  min-height: 3vh;
  flex-grow: 0;
}
.flowerAxisViewPortCanvasStretcher{
  
  flex-grow: 5;
  background-color: red;
}

.flowerAxisViewport {
  background-color: white;
}

.flowerAxisViewportHeader {
  display: flex;
  flex-direction: column;
  flex-grow: 1000;
}



.flowerMargin {

  width: 100px;
  display: flex;
  flex-direction: column;
  background-color: #C0C0C0;

}

.flowerViewport {
  flex-grow: 100;
  display: flex;
  flex-direction: column;
  background-color: #C0C0C0;
  ;
}



.mainHeader {
  background-color: black;  
  height: 20px;
}

.mainFooter {
  background-color: black;
  color:gray;
  height: 40px;
}

.mainContent {
  background-color: whitesmoke;
  flex-grow: 100;
  min-height: 100%;
  max-height: 100%;
}

.mainContentFlexLayout {
  display: flex;
  flex-direction: row;
  flex-grow: 100;
  min-height: 100%;
  max-height: 100%;

}

.flowerGridLeft {
  width: 300px;
  min-width:300px;
  max-width: 300px;
  min-height: 100%;
  max-height: 100%;
  background-color:grey;
  border-style: solid;

}

.flowerGridRight {
  width: 300px;
  min-width:300px;
  max-width: 300px;

  background-color: grey;
  resize: both;

}

.flowerTrackItemContainer {
  overflow: visible;
}
.flowerGridAxisDecorator{  
  display: flex;
  flex-grow: 100;
  flex-direction: column;

}
